[Unit]
Description=substrate archive node
Wants=network-online.target
After=network-online.target

[Service]
User=substrate
Group=substrate
ExecStart=/usr/local/bin/manta \
    --pruning archive \
    --chain manta \
    --name 'i1' \
    --base-path /var/lib/substrate \
    --port 30333 \
    --ws-port 7944 \
    --ws-max-connections 1000 \
    --rpc-port 7933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --tx-ban-seconds 0 \
    --bootnodes \
        /dns/a2.manta.systems/tcp/30333/p2p/12D3KooWDwTeTxyyp8tVzrnHQk7jo3hLWs7ukZEC642cduKgp2Fd \
        /dns/a3.manta.systems/tcp/30333/p2p/12D3KooWAjiBUsKPJesAHoZHbLQqjN8bA6QTtjJjkwwZPenHjbMR \
        /dns/a4.manta.systems/tcp/30333/p2p/12D3KooWN9Zud842idiiUypJF9nzQfNrSsuWQRdtRA8D6sqsPXMb \
        /dns/a5.manta.systems/tcp/30333/p2p/12D3KooWM6Txo8orkxGsSTPByzzWhtTSfdFi2u9KJtd9eWCkry3k \
        /dns/a6.manta.systems/tcp/30333/p2p/12D3KooWKNRctMpwA3CmZj5SzFPHNaEEm83e8FZMHMvMHGibbR5a \
        /dns/c1.manta.systems/tcp/30333/p2p/12D3KooWSNwD7tJkqKGdMfCVTJbbzrGFTGbXoeMFZCTwEytpFCM4 \
        /dns/c2.manta.systems/tcp/30333/p2p/12D3KooWSyPTkVytQwurRBt73wPQDTgypw88bdhsE4Rb6RnQvCJ9 \
        /dns/c3.manta.systems/tcp/30333/p2p/12D3KooWJwHqCEjTF46eAUDspKKwxa15TMfs7x8DNr3Gs71Qr64j \
        /dns/c4.manta.systems/tcp/30333/p2p/12D3KooWAgZYhwfUo7brgZK2TvArK6XNUtZnzk1cSNfyD9kX1rDE \
        /dns/c5.manta.systems/tcp/30333/p2p/12D3KooWNHVexSGRVeLb7rt7tYS5Y3k5Up9amQn1GyTDCi7L9LLf \
    -- \
    --chain polkadot \
    --name 'i2' \
    --rpc-cors all \
    --rpc-methods safe \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
