[Unit]
Description=calamari
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/calamari \
    --name a3 \
    --pruning archive \
    --base-path /var/lib/substrate \
    --chain /usr/share/substrate/calamari-staging.json \
    --port 30333 \
    --ws-port 9944 \
    --ws-max-connections 8000 \
    --max-runtime-instances 128 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0' \
    -- \
    --name 'a3 calamari seabird' \
    --chain /usr/share/substrate/kusama-staging.json \
    --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
User=substrate
Group=substrate
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
