[Unit]
Description=kusama staging archive 1
Wants=network-online.target
After=network-online.target

[Service]
User=substrate
Group=substrate
Type=simple
ExecStart=/usr/local/bin/kusama \
  --pruning archive \
  --name 'a3 1' \
  --base-path /var/lib/substrate/kusama-staging-1 \
  --chain /usr/share/substrate/kusama-staging.json \
  --force-kusama \
  --port 30334 \
  --ws-port 9945 \
  --rpc-port 9934 \
  --rpc-cors all \
  --rpc-methods safe \
  --log="parachain=debug" \
  --ws-max-connections 1000 \
  --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
