[Unit]
Description=dolphin
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/dolphin \
    --collator \
    --name 'kwaltz-dolphin-testnet-baikal' \
    --base-path /var/lib/dolphin \
    --chain /usr/share/dolphin/dolphin-parachain-spec.json \
    --port 30333 \
    --ws-port 9944 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods unsafe \
    --node-key-file /usr/share/dolphin/node-key \
    --state-cache-size 0 \
    -- \
    --name 'kwaltz-dolphin-testnet-baikal' \
    --chain /usr/share/dolphin/relaychain-spec.json  
Restart=always
RestartSec=120
StandardOutput=file:/var/log/dolphin/stdout.log
StandardError=file:/var/log/dolphin/stderr.log

[Install]
WantedBy=multi-user.target
