[Unit]
Description=kusama
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/kusama \
  --validator \
  --name v1-0 \
  --base-path /var/lib/kusama0 \
  --node-key-file /var/lib/kusama0/node-key \
  --chain /usr/share/kusama/relaychain-spec.json \
  --force-kusama \
  --port 30333 \
  --ws-port 9944 \
  --rpc-port 9933 \
  --rpc-cors all \
  --rpc-methods safe \
  --log="parachain=debug" \
  --ws-max-connections 1000 \
  --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
