[Unit]
Description=Calamari Parachain Node
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/calamari \
    --chain /usr/share/substrate/calamari.json \
    --collator \
    --name '🦑🛡️ c3 🛡️🦑' \
    --base-path /var/lib/substrate \
    --port 30333 \
    --ws-port 9944 \
    --ws-max-connections 100 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --node-key-file /usr/share/substrate/node-key \
    --bootnodes \
        /dns/a1.calamari.systems/tcp/30333/p2p/12D3KooWBL5E61p9tdAq2LnZGgfgxArrb3T6KYdHSo4yaHy7KYku \
        /dns/a2.calamari.systems/tcp/30333/p2p/12D3KooWDpx4LHzAyVHdQAZqEfdCpYkPaB83ZjHANCcACUU2xGDn \
        /dns/a3.calamari.systems/tcp/30333/p2p/12D3KooWAPEU494CLKGMfAnCaAjVENXXKJna1qpq2Eu7sCcoy4mh \
    -- \
    --chain kusama \
    --name '🦑🛡️ c3 🛡️🦑' \
    --rpc-cors all \
    --rpc-methods safe \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
User=manta
Group=manta
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
