[Unit]
Description=polkadot 1 staging archive 1
Wants=network-online.target
After=network-online.target

[Service]
User=substrate
Group=substrate
Type=simple
ExecStart=/usr/local/bin/polkadot \
  --pruning archive \
  --name 'a1 1' \
  --base-path /var/lib/substrate/polkadot-staging-1 \
  --chain /usr/share/substrate/polkadot-staging.json \
  --force-polkadot \
  --port 30434 \
  --ws-port 7945 \
  --rpc-port 7934 \
  --rpc-cors all \
  --rpc-methods safe \
  --log="parachain=debug" \
  --ws-max-connections 1000 \
  --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
