[Unit]
Description=calamari
Wants=network-online.target
After=network-online.target

[Service]
Group=root
Type=simple
ExecStart=/usr/local/bin/calamari \
    --name '🛡️ c5 🛡️' \
    --collator \
    --pruning archive \
    --base-path /var/lib/substrate \
    --node-key-file /usr/share/calamari/node-key \
    --chain /usr/share/substrate/calamari-staging.json \
    --port 30333 \
    --ws-port 9944 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --log=parachain::collation-generation=debug,cumulus-collator=debug,filtering-consensus=debug \
    --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0' \
    -- \
    --name '🛡️ c5 calamari 🛡️' \
    --chain /usr/share/substrate/kusama-staging.json \
    --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
User=substrate
Group=substrate
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
