[Unit]
Description=manta archive node
Wants=network-online.target
After=network-online.target

[Service]
User=substrate
Group=substrate
ExecStart=/usr/bin/manta \
    --collator \
    --pruning archive \
    --chain manta \
    --name '🛡️🗃️ c5 🗃️🛡️' \
    --base-path /var/lib/substrate \
    --port 30333 \
    --ws-port 9944 \
    --ws-max-connections 1000 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --in-peers 100 \
    --node-key-file /usr/share/substrate/12D3KooWNHVexSGRVeLb7rt7tYS5Y3k5Up9amQn1GyTDCi7L9LLf \
    --bootnodes \
        /dns/a1.manta.systems/tcp/30333/p2p/12D3KooWCpnkG834s9ETesFTWtGqRDjs6Te1UCXHib3iD8GEmXLU \
        /dns/a2.manta.systems/tcp/30333/p2p/12D3KooWDwTeTxyyp8tVzrnHQk7jo3hLWs7ukZEC642cduKgp2Fd \
        /dns/a3.manta.systems/tcp/30333/p2p/12D3KooWAjiBUsKPJesAHoZHbLQqjN8bA6QTtjJjkwwZPenHjbMR \
        /dns/c1.manta.systems/tcp/30333/p2p/12D3KooWSNwD7tJkqKGdMfCVTJbbzrGFTGbXoeMFZCTwEytpFCM4 \
        /dns/c2.manta.systems/tcp/30333/p2p/12D3KooWSyPTkVytQwurRBt73wPQDTgypw88bdhsE4Rb6RnQvCJ9 \
        /dns/c3.manta.systems/tcp/30333/p2p/12D3KooWJwHqCEjTF46eAUDspKKwxa15TMfs7x8DNr3Gs71Qr64j \
        /dns/c4.manta.systems/tcp/30333/p2p/12D3KooWAgZYhwfUo7brgZK2TvArK6XNUtZnzk1cSNfyD9kX1rDE \
    -- \
    --chain polkadot \
    --name '🛡️🗃️ manta c5 🗃️🛡️' \
    --rpc-cors all \
    --rpc-methods safe \
    --node-key-file /usr/share/substrate/12D3KooWNHVexSGRVeLb7rt7tYS5Y3k5Up9amQn1GyTDCi7L9LLf \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
