[Unit]
Description=manta indexer
Wants=network-online.target
After=network-online.target

[Service]
User=manta-indexer
Group=manta-indexer
WorkingDirectory=/var/lib/manta-indexer
Type=simple
ExecStart=/usr/local/bin/manta-indexer
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
