[Unit]
Description=manta archive node
Wants=network-online.target
After=network-online.target

[Service]
User=substrate
Group=substrate
ExecStart=/usr/bin/manta \
    --collator \
    --pruning archive \
    --chain /usr/share/substrate/manta.json \
    --name '🛡️🗃️ c3 🗃️🛡️' \
    --base-path /var/lib/substrate \
    --port 30333 \
    --ws-port 9944 \
    --ws-max-connections 1000 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --in-peers 100 \
    --node-key-file /usr/share/substrate/12D3KooWJwHqCEjTF46eAUDspKKwxa15TMfs7x8DNr3Gs71Qr64j \
    -- \
    --chain polkadot \
    --name '🛡️🗃️ manta c3 🗃️🛡️' \
    --rpc-cors all \
    --rpc-methods safe \
    --node-key-file /usr/share/substrate/12D3KooWJwHqCEjTF46eAUDspKKwxa15TMfs7x8DNr3Gs71Qr64j \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
