[Unit]
Description=calamari archive node
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/calamari \
    --pruning archive \
    --chain /usr/share/substrate/calamari.json \
    --name '🗃️ a5 🗃️' \
    --base-path /var/lib/substrate \
    --port 31333 \
    --ws-port 9944 \
    --ws-max-connections 1000 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --in-peers 100 \
    -- \
    --chain kusama \
    --name '🗃️ a5 🗃️' \
    --rpc-cors all \
    --rpc-methods safe \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
User=substrate
Group=substrate
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
