[Unit]
Description=dolphin
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/dolphin \
    --name '🐬📒 frogstar 📒🐬' \
    --base-path /var/lib/dolphin \
    --chain /usr/share/substrate/dolphin.json \
    --pruning archive \
    --port 30333 \
    --ws-port 9144 \
    --rpc-port 9133 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --ws-max-connections 1000 \
    -- \
    --name '🐬📒 frogstar 📒🐬' \
    --chain rococo \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0' 
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
