[Unit]
Description=kusama
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/kusama \
  --validator \
  --bob \
  --name frohlikha \
  --base-path /var/lib/kusama \
  --chain /usr/share/kusama/kusama-chain-spec.json \
  --port 30333 \
  --force-kusama \
  --ws-port 9944 \
  --rpc-cors all \
  --rpc-port 9933 \
  --rpc-methods safe \
  --ws-max-connections 100 \
  --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
