[Unit]
Description=calamari
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/calamari \
    --collator \
    --name 'crispy-calamari-testnet-baikal' \
    --base-path /var/lib/calamari \
    --chain /usr/share/calamari/calamari-parachain-spec.json \
    --port 30333 \
    --ws-port 9944 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --bootnodes /dns/crunchy.baikal.testnet.calamari.systems/tcp/30333/p2p/12D3KooWD2bfmEk43N16JCbTtdXgWfLejMiekuZq4TFEQC3PDCkV /dns/hotdog.baikal.testnet.calamari.systems/tcp/30333/p2p/12D3KooWLp4Vfh4dF4DMynPWDoQdMYyJ8shDSmHSnLdJf2s2dDC8 /dns/tasty.baikal.testnet.calamari.systems/tcp/30333/p2p/12D3KooWRvaG5T6F31Fo55Fa1s8URBSKsqA2qvmWhgFJ8FWFcYrL /dns/tender.baikal.testnet.calamari.systems/tcp/30333/p2p/12D3KooWJjRusQzpwN6hd6LeXRhCRPWA1RoisJuY1CVwP7V1diuz \
    -- \
    --name 'crispy-calamari-testnet-baikal' \
    --chain /usr/share/calamari/relaychain-spec.json  
Restart=always
RestartSec=120
StandardOutput=file:/var/log/calamari/stdout.log
StandardError=file:/var/log/calamari/stderr.log

[Install]
WantedBy=multi-user.target
