[Unit]
Description=prometheus node exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.systemd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
