[Unit]
Description=calamari archive node
Wants=network-online.target
After=network-online.target
AssertPathExists=/usr/bin/calamari
AssertPathExists=/usr/share/substrate/calamari.json

[Service]
ExecStart=/usr/bin/calamari \
    --pruning archive \
    --chain /usr/share/substrate/calamari.json \
    --name '🗃️ fritti 🗃️' \
    --base-path /var/lib/substrate \
    --port 30333 \
    --ws-port 9944 \
    --ws-max-connections 16000 \
    --max-runtime-instances 256 \
    --rpc-port 9933 \
    --rpc-cors all \
    --rpc-methods safe \
    --bootnodes \
        /dns/a1.calamari.systems/tcp/30333/p2p/12D3KooWBL5E61p9tdAq2LnZGgfgxArrb3T6KYdHSo4yaHy7KYku \
        /dns/a2.calamari.systems/tcp/30333/p2p/12D3KooWDpx4LHzAyVHdQAZqEfdCpYkPaB83ZjHANCcACUU2xGDn \
        /dns/a3.calamari.systems/tcp/30333/p2p/12D3KooWAPEU494CLKGMfAnCaAjVENXXKJna1qpq2Eu7sCcoy4mh \
        /dns/a4.calamari.systems/tcp/30333/p2p/12D3KooWPsBzWD94yogfngya38kAzWzgvFvTFqNQ8SAsZxB9jZpv \
        /dns/a5.calamari.systems/tcp/30333/p2p/12D3KooWE22Q9vACFoFQosFqsGA32E36HqA4N5yCThZnU3gUcSAv \
    -- \
    --chain kusama \
    --name '🗃️ fritti 🗃️' \
    --rpc-methods safe \
    --telemetry-url 'wss://api.telemetry.manta.systems/submit/ 0'
User=manta
Group=manta
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
