[Unit]
Description=baikal
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/baikal \
  --validator --force-westend \
  --name ushkan-baikal \
  --base-path /var/lib/baikal \
  --node-key-file /usr/share/baikal/node-key \
  --chain /usr/share/baikal/baikal-chain-spec.json \
  --port 30333 \
  --ws-port 9944 \
  --rpc-cors all \
  --rpc-methods safe --ws-max-connections 100 --telemetry-url 'wss://api.telemetry.pelagos.systems/submit/ 0'
Restart=always
RestartSec=120
StandardOutput=file:/var/log/baikal/stdout.log
StandardError=file:/var/log/baikal/stderr.log

[Install]
WantedBy=multi-user.target
